max=50.
min=0.
width=1
hist(x,width)=width*floor(x/width)+width/2.0
set term png
set output "histogram.png"
set xrange [min:max]
set yrange [0:]
set offset graph 0.05,0.05,0.05,0.0
#set xtics min,(max-min)/5,max
set xtics ("480" 10, "360" 20, "240" 30, "120" 40)
set boxwidth width*0.9
set style fill solid 0.5
set tics out nomirror
set xlabel "Memento Count"
set ylabel "Number of Sites"
plot "gnuplot.dat" u (hist($1,width)):(1.0) smooth freq w boxes lc rgb"green" notitle
